<!-- to add style use header and footer -->
<%- include("header");  -%>

<h2>This is about page</h2>

<p>jhfjkdhfkdndsnvds ndbf dj snb</p>

<%- include("footer");  -%>   
<!-- after adding the header and footer this page will get styled; -->