<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <-- cause we use express to serve up the server, we dont need the exact address.It will automatically search the public folder --> 
     <link rel="stylesheet" href="CSS/styles.css">  
</head>
<body>